/* ========== FONTS ========== */

@font-face {
    font-family: "Helvetica";
    src: url(../../fonts/helvetica-lt.ttf)
    // src: url(../src/fonts/helvetica-lt.ttf)
  }

  @font-face {
    font-family: "Helvetica-Thin";
    src: url(../..//fonts/helvetica-lt-35-thin.ttf);
  }

/* ========== GENERAL ========== */

body {
    max-width: 1200px;
    margin: auto;
    padding: 1rem;
    font-family: 'Helvetica', sans-serif;
    color: #4E342E;
}

h1 {
    text-align: center;
    font-family: 'Helvetica-Thin', sans-serif;
    font-weight: normal;
    font-size: 1.8rem;
}

h2 {
    text-align: center;
    // text-transform: uppercase;
    letter-spacing: 0.05rem;
    margin-top: 0.5rem;
}

h3 {
    text-align: center;
    // text-transform: uppercase;
    margin-top: 1rem;
    border-top: 2px solid #7CB342;
    padding-top: 1rem;
    letter-spacing: 0.05rem;
}

p {
    text-align: center;
    margin: 0;
}

main {
    // background-color: pink;
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

section {
    // background-color: grey;
    width: 90%;
    display: flex;
    flex-direction: column;
}

.app-logo {
    display: block;
    margin: auto;
    border-radius: 4rem;
    height: 8rem;
    border: 5px solid #8BC34A;
}

.skillsList {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.skill {
    width: 40%;
    margin: 0.5rem;
    // border: solid white 0.1rem;
    border-radius: 0.5rem;
    padding: 0.5rem;
    background-color: #4E342E;
    color: white;
}