/* ========== FONTS ========== */

@font-face {
    font-family: "Helvetica";
    src: url(../../fonts/helvetica-lt.ttf)
    // src: url(../src/fonts/helvetica-lt.ttf)
  }

  @font-face {
    font-family: "Helvetica-Thin";
    src: url(../../fonts/helvetica-lt-35-thin.ttf);
  }

/* ========== COLORS ========== */

:root {
    --primary-color: #CCC;
    --secondary-color: #222;
    --tertiary-color: #7CB342;
}

/* ========== GENERAL ========== */

body {
    max-width: 1200px;
    margin: auto;
    margin-bottom: 2rem;
    font-family: 'Helvetica', sans-serif;
    color: var(--secondary-color);
}

h1 {
    text-align: center;
    font-family: 'Helvetica-Thin', sans-serif;
    font-weight: normal;
    font-size: 1.8rem;
    letter-spacing: 0.1rem;
}

h2 {
    text-align: center;
    letter-spacing: 0.08rem;
    margin-top: 0.5rem;
}

h3 {
    text-align: center;
    margin-top: 1rem;
    border-top: 2px solid var(--tertiary-color);
    padding-top: 1rem;
    letter-spacing: 0.05rem;
}

h4 {
    text-align: center;
    margin: 0.5rem;
    padding-top: 0.5rem;
    letter-spacing: 0.05rem;
}

p {
    text-align: center;
    margin: 0;
    padding: 0.1rem;
}

main {
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

section {
    width: 95%;
    display: flex;
    flex-direction: column;
    & button {
        margin: 1.5rem 0 0.5rem 0;
        background-color: var(--secondary-color);
        color: var(--primary-color);
        border: 2px solid var(--tertiary-color);
        border-radius: 0.5rem;
        padding: 0.5rem;
        font-size: 1rem;
        cursor: pointer;
        &:hover {
            background-color: var(--tertiary-color);
            color: white;
            border: 2px solid var(--primary-color);
        }
    }
}

.ReactModal__Overlay--after-open {
    z-index: 5;
}

@keyframes slide {
    from {
      margin-left: 100%;
    }
  
    to {
      margin-left: -300%;
    }
}

@media screen and (min-width: 640px) {
    .navbar {
        & button {
            display: none;
        }  
        &-links {
            height: auto;
            & ul {
                margin-top: 0.5rem;
                padding: 0;
            }
            & li {
                display: inline-block;
                list-style-type: none;
                padding: 0.5rem;
            }
        }
    }

    header > img {
        display: block;
        max-width: 30%;
        object-fit: cover;
    }

    .slider p {
        width: 150%;
        animation: slide 15s linear infinite;
    }
    
    @keyframes slide {
        from {
          margin-left: 100%;
        }
      
        to {
          margin-left: -150%;
        }
    }
}
